div.cols-2,div.cols-3,div.cols-4 {
	float: left;
	padding: 10px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

div.cols-2 {
	width: 50%;
}

div.cols-3 {
	width: 33%;
}

div.cols-4 {
	width: 25%;
}

div.cols-2 li,
div.cols-3 li,
div.cols-4 li {
	position: relative;
}